p {
  text-align: center;
}

h1{
  text-align: center;
}

body {
  background-color: black;
  color: white
}

#login {
  border: 0;
  background: #0066ff;
  color: white;
  outline = 0;
  border-radius: 100px
}

#register {
  color: white;
  border: 0;
  border-radius:100px;
  font-weight: bold;
  background-color: #4afa05;
}

#login_block {
  left: 0;
  top: 0;
  transform: translate(0%, 70%)
}